@charset "utf-8";
/* CSS layout */
/* 重置 */
html{ overflow:hidden!important; }
.mescroll-upwarp{ padding:0px!important; }
/* 默认样式 */

html{overflow-y:scroll; overflow-x: hidden;}
body,div,ul,li,span,img,input,form{ margin:0; padding:0;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd{ margin:0;}
ul,ol,{padding:0;}
body,div,ul,li,span,img,input,form,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd{ -webkit-overflow-scrolling: touch; }

body{ font-size:12px;font-family:"冬青黑体简体中文","微软雅黑","宋体",Arial,sans-serif;}
a{ text-decoration:none; color:#666666; }
li{ list-style:none; }
img{ border:none 0;}
input{ outline:none; border:none; background:none;}
input,textarea,select{ margin:0; }					
input,textarea{ padding:0;}
input::-ms-clear{display:none;}


/* 浮动公共样式 */
.fl{ float: left; }
.fr{ float: right; }
.left{ float:left; _display:inline; }
.right{ float:right; _display:inline; }
.txt_right{ text-align:right; }
.txt_left{ text-align:left; }
.txt_center{ text-align:center; }
.clear:after{ display:block; content:''; clear:both;}
.clear{ zoom:1;}
.hide{ display: none; }
.line2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.line{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.whitewrap{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
/* 基本公共样式 */
.border_none{ border:none!important; }
.color_999{ color:#999; }
.color_666{ color:#666; }
.color_222{ color:#222; }
.size_12{ font-size:.2rem; }
.size_16{ font-size:.3rem; }
.size_18{ font-size: .275rem; }
.size_20{ font-size: .35rem;}
.pd_btm_3{ padding-bottom: .3rem; }

.w_10{ width: 10%; }
.w_15{ width: 15%; }
.w_20{ width: 20%; }
.w_25{ width: 25%; }
.w_30{ width: 30%; }
.w_35{ width: 35%; }
.w_40{ width: 40%; }
 