@charset "UTF-8";
.main {
  width: 100%;
  height: 100%;
  position: absolute;
}

.layout {
  background: #f5f7f9;
  overflow: hidden;
}

.ivu-row-flex {
  height: 100%;
}

.my-layout-box {
  position: absolute;
  top: 91px;
  width: 100%;
  bottom: 0px;
}

.layout-content {
  overflow: hidden;
  background: #f0f0f0;
  border-radius: 4px;
  position: absolute;
  top: 47px;
  width: 100%;
  bottom: 0px;
  overflow-y: auto;
}

.layout-content-main {
  padding: 10px;
}

.layout-copy {
  text-align: center;
  padding: 10px 0 20px;
  color: #9ea7b4;
}

.layout-menu-left {
  background: #fff;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.layout-header {
  height: 35px;
  line-height: 35px;
  position: relative;
  background: -webkit-linear-gradient(left, rgba(26, 57, 125, 0.8), #1a397d);
  /* Safari 5.1 - 6 */
  background: -o-linear-gradient(left, rgba(26, 57, 125, 0.8), #1a397d);
  /* Opera 11.1 - 12*/
  background: -moz-linear-gradient(left, rgba(26, 57, 125, 0.8), #1a397d);
  /* Firefox 3.6 - 15*/
  background: linear-gradient(to left, rgba(26, 57, 125, 0.85), #1a397d);
  /* 标准的语法 */
}

.layout-logo-left {
  width: 90%;
  height: 30px;
  background: #5b6270;
  border-radius: 3px;
  margin: 15px auto;
}

.layout-ceiling-main a {
  color: #9ba7b5;
}

.layout-hide-text .layout-text {
  display: none;
}

.first-menu-wrap {
  width: 100%;
  height: 40px;
  padding-top: 4px;
  background: -webkit-linear-gradient(left, rgba(60, 50, 109, 0.8), #3c326d);
  /* Safari 5.1 - 6 */
  background: -o-linear-gradient(left, rgba(60, 50, 109, 0.8), #3c326d);
  /* Opera 11.1 - 12*/
  background: -moz-linear-gradient(left, rgba(60, 50, 109, 0.8), #3c326d);
  /* Firefox 3.6 - 15*/
  background: linear-gradient(to left, rgba(26, 57, 125, 0.7), rgba(26, 57, 125, 0.9));
  /* 标准的语法 */
}

.nav-list {
  overflow: hidden;
  border-width: 0;
  padding-left: 5px;
}

.nav-item {
  overflow: hidden;
  font-size: 14px;
  position: relative;
  width: 130px;
  cursor: pointer;
  height: 36px;
  padding: 5px;
  line-height: 26px;
  float: left;
  border-radius: 2px 2px 0 0;
  color: #f3f3f3;
}

.nav-item-active {
  background: #fff !important;
  color: #515a6e;
}

.nav-item div {
  height: 100%;
  border-radius: 2px;
  padding: 0px 3px;
}

.nav-item div:hover {
  background: rgba(255, 255, 255, 0.1);
}

.ivu-menu-light {
  background: yellow !important;
}
